body {
    margin: 0;
    height:100vh;
    width:100%;
    background-color: #140b06;
}

@font-face {
  font-family: FoundersGroteskMonoMedium;
  src: url(fonts/founders-grotesk-mono-web-medium.woff);
}

@font-face {
  font-family: FoundersGroteskMonoRegular;
  src: url(fonts/founders-grotesk-mono-web-regular.woff);
}

.header2 {
    width:100%;
    height:85px;
    position:fixed;
    background: linear-gradient(#140b06, 85%, rgba(0, 0, 0, 0));
    z-index: 2;
}

.logo2 {
    background: url("images/utendahl2.png") no-repeat;
    background-size: 100%;
    width: 190px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
}

.selected {
    color: #f2f1ee;
    font-family: FoundersGroteskMonoMedium;
    font-size: 20px;
    position: relative;
    margin: auto;
    text-align: center;
    top: 15vh;
    padding-bottom: 8vh;
}

.nav {
    position: fixed;
    font-family: FoundersGroteskMonoMedium;
    font-size: 27px;
    color: #f2f1ee;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #f2f1ee;
    text-decoration: none;
    z-index: 5;

}

#about {
    top: 12px;
    left: 20px;
}

.nav:hover {
    color: #140b06;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #f2f1ee;
}

#work {
    top: 12px;
    right: 20px;
}

#team {
    bottom: 12px;
    left: 20px;
}

#contact {
    bottom: 12px;
    right: 20px;
}

.biglist {
	list-style-type: none;
    color: #f2f1ee;
	position: relative;
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    letter-spacing: -.065em;
    text-align: center;
    font-size: 250px;
    line-height: 250px;
    width: 75vw;
    padding: 0;
    top: 10vh;
    margin: auto;
    cursor: pointer;
    margin-bottom: 300px;
}



.bigitem:hover {
	font-style: italic;
	text-decoration: line-through;
	webkit-transition: all 300ms ease;
	moz-transition: all 300ms ease;
	ms-transition: all 300ms ease;
	o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.services {
    margin: auto;
    width: 35vw;
    margin-top: 20vh;
    padding-bottom: 20vh;
}




#subhead {
    text-transform: uppercase;
    font-family: FoundersGroteskMonoMedium;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #f2f1ee;
    padding-bottom: 40px;
    cursor: default;
}


ul.smalllist {
    list-style-type: none;
    color: #f2f1ee;
    position: relative;
    text-transform: uppercase;
    font-family: FoundersGroteskMonoRegular;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 0;
    cursor: default;
}


.about {
    list-style-type: none;
    color: #f2f1ee;
    position: relative;
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    letter-spacing: -.065em;
    text-align: center;
    font-size: 250px;
    line-height: 250px;
    padding: 0;
    top: 10vh;
    margin: auto;
    width: 80vw;
    cursor: default;
}


.clientphoto {
    width: 430px;
    height: 430px;
}


#judyimg1 {
    background: url("images/judy1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 35vh;
    left: 2vw;
    background-size: 100%;
}

#judyimg2 {
    background: url("images/judy2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 42vh;
    right: 2vw;
    background-size: 100%;
}


#aboutfaceimg1 {
    background: url("images/aboutface1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 40vh;
    left: 2vw;
    background-size: 100%;
}

#aboutfaceimg2 {
    background: url("images/aboutface2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 8vh;
    right: 2vw;
    background-size: 100%;
}

#ladidaimg1 {
    background: url("images/ladida1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 40vh;
    left: 2vw;
    background-size: 100%;
}

#ladidaimg2 {
    background: url("images/ladida2.png") no-repeat;
    z-index: 11;
    display: none;
    position: fixed;
    top: 0vh;
    right: 10vw;
    background-size: 100%;
}

#ladidaimg3 {
    background: url("images/ladida3.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 8vh;
    right: 2vw;
    background-size: 100%;
}


#muthaimg1 {
    background: url("images/mutha1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 45vh;
    left: 2vw;
    background-size: 100%;
}

#muthaimg2 {
    background: url("images/mutha2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 10vh;
    right: 8vw;
    background-size: 100%;
}

#lemonperfectimg1 {
    background: url("images/lemonperfect1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 10vh;
    left: 5vw;
    background-size: 100%;
}

#lemonperfectimg2 {
    background: url("images/lemonperfect2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 40vh;
    right: 4vw;
    background-size: 100%;
}

#milkbarimg1 {
    background: url("images/milkbar1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 20vh;
    left: 2vw;
    background-size: 100%;
}

#milkbarimg2 {
    background: url("images/milkbar2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 30vh;
    right: 2vw;
    background-size: 100%;
}

#smileimg1 {
    background: url("images/smile1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 0vh;
    left: 8vw;
    background-size: 100%;
}

#smileimg2 {
    background: url("images/smile2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 35vh;
    right: 5vw;
    background-size: 100%;
}

#highcourtimg1 {
    background: url("images/highcourt1.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 25vh;
    left: 2vw;
    background-size: 100%;
}

#highcourtimg2 {
    background: url("images/highcourt2.png") no-repeat;
    z-index: 10;
    display: none;
    position: fixed;
    bottom: 42vh;
    right: 2vw;
    background-size: 100%;
}


#nav-icon3 {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 14px;
    right: 14px;
    z-index: 6;
    display: none;
}

#nav-icon3 span {
  display: none;
  position: fixed;
  height: 2px;
  width: 30px;
  background: #f2f1ee;
  opacity: 1;
  z-index: 5;
  right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 22px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 32px;
}

#nav-icon3 span:nth-child(4) {
  top: 42px;
}

#nav-icon3.open span:nth-child(1) {
  top: 32px;
  width: 0%;
  right: 40px;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 32px;
  width: 0%;
  right: 40px;
}

.mobilemenu {
    position: fixed;
    background-color: #140b06;
    display: none;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 4;

}

.mobilenav {
    position: fixed;
    z-index: 5;
    margin-bottom: 50px;
    left: 50%; 
    -webkit-transform: translate(-50%, 0); 
    font-family: FoundersGroteskMonoMedium;
    text-decoration: none;
    font-size: 50px;
    color: #f2f1ee;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #f2f1ee;
}

#aboutmobile {
    top: 23vh;
}

#workmobile {
    top: 35vh;
}

#teammobile {
    top: 47vh;
}

#contactmobile {
    top: 59vh;
}

.mobilelist {
    display: none;
    position: relative;
}

.collapsible {
  background-color: #140b06;
  color: #f2f1ee;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
    background-color: rgba(247,242,239,0);
}

button { 
    font-family: adobe-garamond-pro, serif;
    font-weight: 600;
    font-size: 63px;
    line-height: 63px;
    height: 63px;
    letter-spacing: -.065em;
 }

/*.active, .collapsible:hover {
    font-style: italic;
    text-decoration: line-through;
}*/


.content {
  display: none;
  overflow: hidden;
    width: 100vw;
}

#judyimgmobile {
    background: url("images/judymobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}


#aboutfaceimgmobile {
    background: url("images/aboutfacemobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}

#ladidaimgmobile {
    background: url("images/ladidamobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 275vw;
}

#muthaimgmobile {
    background: url("images/muthamobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}

#milkbarimgmobile {
    background: url("images/milkbarmobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}

#lemonperfectimgmobile {
    background: url("images/lemonperfectmobile.png") no-repeat;
    background-size: 100%;
    margin-top: -10px;
    margin-bottom: -35px;
    height: 190vw;
}

#smileimgmobile {
    background: url("images/smilemobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}

#highcourtimgmobile {
    background: url("images/highcourtmobile.png") no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-bottom: -35px;
    height: 190vw;
}

.footer {
    position: relative;
    height: 200px;
    background-color: #f2f1ee;
/*    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0), 60%, #0047ab);*/
    color: #140b06;
    z-index: 7;
}

.footercontents{
    position: relative;
    width: 1220px;
    display: flex;
    flex-direction: row;
        left: 50%; 
    -webkit-transform: translate(-50%, 0); 
}

.icon {
    height: 100px;
    width: 100px;
    margin: 50px;
}

#icon1 {
    background: url("images/icon1.png") no-repeat;
    background-size: 100%;
}

.description {
    padding-right: 70px;
    padding-left: 20px;
}

.footertitle {
    font-family: FoundersGroteskMonoMedium;
    margin-top: 52px;
    margin-bottom: 12px;
}

.footerbody {
    font-family: FoundersGroteskMonoRegular;
    font-size: 14px;
}

.navlist {
    font-family: FoundersGroteskMonoMedium;
    width: 70px;
    line-height: 24px;
    margin-top: 48px;
    padding-right: 70px;
}

a {
    text-decoration: none;
    color: #140b06;
}

.email {
    padding-right: 70px;
}

.social {
    padding-right: 70px;
}


@media only screen and (max-width: 1650px) {

.biglist {
    font-size: 225px;
    line-height: 225px;
}

}


@media only screen and (max-width: 1500px) {

.about {
    letter-spacing: -.065em;
    font-size: 200px;
    line-height: 200px;
    top: 15vh;
 }

.nav {
 font-size: 25px;
}

.logo2 {
    width: 142px;
    height: 32px;
}

.biglist {
    font-size: 200px;
    line-height: 200px;
    top: 15vh;
}

.clientphoto {
    width: 380px;
    height: 380px;
}

#ladidaimg1 {
    width: 360px;
    height: 360px;
}

#ladidaimg2 {
    width: 360px;
    height: 360px;
}

#ladidaimg3 {
    width: 360px;
    height: 360px;
}

#judyimg1 {
    bottom: 30vh;
}

#judyimg2 {
    bottom: 35vh;
}


}

@media only screen and (max-width: 1320px) {

.biglist {
    font-size: 180px;
    line-height: 180px;   
}

}


@media only screen and (max-width: 1220px) {
    .footer {
        font-size: 14px;
        height: 175px;
    }

    .footerbody {
        font-size: 12px;
    }

    .icon {
        height: 75px;
        width: 75px;
        margin: 50px;
    }

    .footercontents{
    width: 1000px;
    height: 100%;
    }

    .description {
    padding-right: 50px;
    padding-left: 0px;
    }

    .footertitle {
    margin-top: 45px;
    margin-bottom: 12px;
    }

    .navlist {
    width: 50px;
    line-height: 20px;
    margin-top: 41px;
    padding-right: 50px;
    }

    .email {
    padding-right: 50px;
    }

    .social {
    padding-right: 50px;
    }


}

@media only screen and (max-width: 1180px) {

.biglist {
    font-size: 150px;
    line-height: 150px;   
}

}


@media only screen and (max-width: 1150px) {

.clientphoto {
    width: 350px;
    height: 350px;
}

.nav {
    font-size: 23px;
}

#ladidaimg1 {
    width: 330px;
    height: 330px;
}

#ladidaimg2 {
    width: 330px;
    height: 330px;
}

#ladidaimg3 {
    width: 330px;
    height: 330px;
}

}

@media only screen and (max-width: 1050px) {

.biglist {
    font-size: 150px;
    line-height: 150px;
    width: 80vw;
    top: 15vh;
}

}


@media only screen and (max-width: 1030px) {


.clientphoto {
    width: 280px;
    height: 280px;
}

.nav {
    font-size: 20px;
}

#ladidaimg1 {
    width: 260px;
    height: 260px;
}

#ladidaimg2 {
    width: 260px;
    height: 260px;
}

#ladidaimg3 {
    width: 260px;
    height: 260px;
}

    .about {
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 200px;
    }

}


@media only screen and (max-width: 1000px) {
    .footer {
        font-size: 12px;
        height: 165px;
    }

    .footerbody {
        font-size: 10px;
    }

    .icon {
        height: 60px;
        width: 60px;
        margin: 50px;
    }

    .footercontents{
    width: 840px;
    height: 100%;
    }

    .description {
    padding-right: 40px;
    padding-left: 0px;
    }

    .footertitle {
    margin-top: 45px;
    margin-bottom: 8px;
    }

    .navlist {
    width: 50px;
    line-height: 18px;
    margin-top: 43px;
    padding-right: 40px;
    }

    .email {
    padding-right: 40px;
    }

    .social {
    padding-right: 40px;
    }

    .about {
    font-size: 140px;
    line-height: 140px;
    margin-bottom: 200px;
    }


}

@media only screen and (max-width: 840px) {

    .biglist {
    font-size: 140px;
    line-height: 140px;
    margin-bottom: 200px;
    }

    .footer {
        font-size: 10px;
        height: 150px;
    }

    .footerbody {
        font-size: 8px;
    }

    .icon {
        height: 50px;
        width: 50px;
        margin: 50px;
        margin-left: 30px;
    }

    .footercontents{
    width: 700px;
    height: 100%;
    }

    .description {
    padding-right: 30px;
    padding-left: 0px;
    }

    .footertitle {
    margin-top: 45px;
    margin-bottom: 8px;
    }

    .navlist {
    width: 50px;
    line-height: 14px;
    margin-top: 43px;
    padding-right: 30px;
    }

    .email {
    padding-right: 30px;
    }

    .social {
    padding-right: 30px;
    }

    .about {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 200px;
    }

}

@media only screen and (max-width: 700px) {

    .about {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 200px;
    }

    .footer {
        display: none;
    }


}

@media only screen and (max-width: 600px) {

.nav {
    display: none;
}

#nav-icon3 {
    display: block;
}

#nav-icon3 span {
  display: block;

}

.logo2 {
    width: 190px;
    height: 40px;
    margin-top: 13px;
}

.about {
    font-size: 70px;
    line-height: 72px;
    padding: 0;
    top: 15vh;
    width: 90vw;
    text-align: center;

}

ul.smalllist {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.services {
    margin: auto;
    width: 50vw;
    margin-top: 27vh;
    padding-bottom: 20vh;
}

.biglist {
    font-size: 75px;
    line-height: 75px;
    width: 90vw;
    top: 10vh;
    display: none;
}

.mobilelist {
    display: block;
    top: 15vh;
}


}


@media only screen and (max-width: 350px) {

button {
    font-size: 58px;
    line-height: 58px;
}

}
